<% flash.each do |key,value| %>
<div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<%= form_for @card,:html=>{:role=>'form'} do |f|%>
	<div class='form-group'>
		<%= f.label :content,'正文:' %>
		<%= f.text_area :content, placeholder:'请输入正文',class:'form-control',id:'content' %>
	</div>
	<div class='form-group'>
		<%= f.label :destination,'收件人：' %>
		<%= f.email_field :destination, placeholder:'请输入收件人邮箱',class:'form-control',id:'destination'%>
	</div>
	<%= f.hidden_field :date, :value=>date%>
	<%= f.submit '提交',class:'btn btn-primary btn-block' %>
<% end %>